.linked_list_grid_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.linked_list_node {
  display: flex;
  align-content: flex-start; 
  justify-content: flex-start;
}

.circle {
  border-radius: 50%; 
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.arrow {
  position: relative;
  width: 40px;
  height: 5px;
  top: 45%;
  left: 1%;
  background-color: black;
}


.tip {
  position: relative;
  width: 1px;
  height: 1px;
  left: 100%;
  top: 20%;
  background-color: transparent;
  border-left: 10px solid black;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}